# Intro to Python (Part I)



---
<img src="https://calnerds.berkeley.edu/css/images/logo.jpg"  /> <!--style="width: 500px; height: 275px;"-->

### Kseniya Usovich 

Introduction to Python 


---
<!--
### Topics Covered
- Variable Assignment
- Strings
- Numerals
- Lists, Arrays, and Tuples 
- Built-ins 
- Dictionaries 
- Loops
- Conditionals
- Functions
- Libraries 
- Files 
- Errors
- Comprehensions
--> 

### Table of Contents

1 - [Data Types](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a - [Variable Assignment](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b - [Strings](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c - [Numerals](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d - [Booleans](#subsection4)<br>

2 - [Data Structures](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a - [Lists](#subsection5)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b - [Arrays](#subsection6)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c - [Tuples](#subsection7)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d - [Dictionaries](#subsection8)<br>



**Dependencies:**

In [1]:
import numpy as np
import pandas as pd
import math

---
## Variable Assignment  <a id='subsection1'></a>

We should think of a variable as a container or a storage box that allows us to save various types of information we plan to use later. Defining a variable consists of two components: a name it will be called by and information you store under that name. One variable can hold one type of information.

In [2]:
# EXAMPLE

var = "Variable"
var

'Variable'

In [3]:
print(var)

Variable

In the next cell assign the variable hello to a phrase "Hello World".

In [4]:
# EXERCISE

hello  = "Hello World"
hello

'Hello World'

---

# Data Types <a id="section1"/>

Every programming language has different types of data that it can use. A data type is a data item defined by a set of particular characteristics. Each data type has its own functions and methods that can modify it. And usually, the functions that can modify one data types, won't work with the other or give a different result. That is why it is important to know your data types.

## Strings  <a id='subsection2'></a>

A string is a data type that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

In [5]:
# EXAMPLE

"Kseniya Usovich"

'Kseniya Usovich'

Textual info without the quotation marks is read as a variable, and if that variable doesn't contain any info will give you an error.

In [6]:
# EXAMPLE

Kseniya

NameError: name 'Kseniya' is not defined

You can save your string into a variable. In the cell below, create a variable name with your name in it.

In [7]:
# EXERCISE

name = "Kseniya"
name

'Kseniya'

As was mentioned before, you can use either double or single quotation marks. But be careful, because some of the textual information might already contain the single (more common) or double (less common) quotation marks inside. Like so:

In [8]:
# EXAMPLE

"Joe's"

"Joe's"

If we were to use single quotation marks on the outside, it would give us an error:

In [9]:
# EXAMPLE

'Joe's'

SyntaxError: invalid syntax (<ipython-input-9-9509096f7089>, line 3)

In order to avoid that error, simply put a backslash before the quotation mark, so the computer will read it as part of the string instead of a part of the code itself.

In [10]:
# EXAMPLE

'Joe\'s'

"Joe's"

Everything inside that quotation marks will be read as a textual information. Compare the outputs in the cell below.

In [11]:
# EXAMPLE

print("2+3")
print(2+3)

2+3
5

### String Methods

There are a few useful built-in functions and methods we can use for strings. We can either capitalize all the letters or change them all to a lower-case.

In [12]:
# EXAMPLE

print(name.upper())
print(name)

KSENIYA
Kseniya

As you can see, the name hasn't changed. What should we do to change all the letters to upper-case for good?

In [13]:
#EXERCISE

name  = name.upper()

The way to change all the letters to lower-case is very similar to the one we have shown above.

In [14]:
# EXAMPLE

print(name.lower())
print(name)

kseniya
KSENIYA

To know what a method does, you can use **?** after it to learn what it is doing. You will see a box appear at the bottom of the screen with information about the function.

In [15]:
# We use "str" for string

str.lower?

### String Functions

Another built-in function you will see a lot is **len(   )**. It allows us to count the amount of characters (string) or objects (lists, arrays, etc.).

In [16]:
# EXAMPLE


len(name)

7

Before running the code cell below, consider what the output will be.

In [17]:
# EXAMPLE

new_string = "Good Morning"

len(new_string)

12

Did the output match your prediction? Why or why not?

---
##  Numerals <a id='subsection3'></a>

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point. In the previous versions of Python they were not "compatible", meaning you were only able to manipulate the numerals of the same kind. But starting with Python3, you can combine both types in the calculation without it causing any error.

In [18]:
# EXAMPLE - Add integers

2+3

5

In [19]:
# EXAMPLE - Add floats and integers.
# Since you have both types, python coerces them into a single one, on thius case float.

2.0+3

5.0

In [20]:
# EXAMPLE - Division

4/2

2.0

In [21]:
# EXAMPLE - Floor division

7//2

3

In [22]:
# EXAMPLE - Multiplication 

5*3

15

Exponentiation

In [23]:
# EXAMPLE - Exponentiation 

5**3

125

In [24]:
# Example  - Mod
# It returns the remainder of dividing theleft hand operand by right hand operand

print(10 % 2) # 0 
print(10 % 3) # 1
print(20 % 3) # 2

0
1
2

In [25]:
# EXAMPLE

(1+2)*3

9

You can also save a numeral in a variable. You can later use that variable instead of typing a number in your calculations.

In [28]:
# EXAMPLE

g = 9.8

g*4

39.2

---
## Booleans <a id='subsection4'></a>

Booleans can only take `True` or `False` values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (yes or no) whenever a given condition is or is not met. 

* "boolean values" have a **bool** data type.

Let's use the function type to check what type of data type are is True and False.

In [29]:
type(True)

bool

In [30]:
type(False)

bool

**Truth Values**

All of the following evaluate to False.

In [31]:
False == False

True

In [32]:
False == 0

True

In [33]:
False == 0.0

True

Note:  There are also a couple of other **False** values that we will cover later, such as **None**, **' '**, **()**, **{}**, **[]**. On other words, empty sequences and empty mappings evaluate to False.

Booleans also have operations. These are **or** and **and**. Let's look at the table below.


#### Python Logical Operators

* These are ordered by ascending priority. 
 
|Operator | Description | Example | Notes |
|---------|--------|---------|----------|
| X **or** Y  | Returns True if one the statements is true | X < 5 or X < 1| Y executes ONLY if X is false. If X, the first value, is true, then X is returned without checking the remaining values.| 
| X **and** Y | Returns True if both of the statements are true | X < 5 and X < 10 | Y executed ONLY if X is true. If X is false, it returns X and it does not check the remaining values. | 
| **not** X | Negates the results. Returns False if the result is true | not True | |

__Note__ on operators : = vs ==

In [34]:
# Assigning values to variables 

value1 = 1  # single equal sign assigns values 

value2 = 7

In [35]:
# EXAMPLE 

value1 == 2 # double equal sign compares values. Notice that it returns a boolean?

False

Double equal sign is a Comparison Operator, it stands for "Equal".

#### __OR__ Examples

The _or_ operator in Python will check the first value, and if this evaluates to True, it will return that value without checking the remaining of the expression.  Otherwise it will move to the next item to check if its True. It stops execution as soon as it encounters the first True value. If not value evaluates to True, it will return False.

In [36]:
# EXAMPLE

1 or 2 or 3 # In our case the first value evaluates to True, so it returns 1. 
            # There is not need to check further values.

1

In [37]:
# EXAMPLE 

0 or 1  # Since the first value, 0, evaluates to False, 
        # Python executes the second value which is 1.
        # It returns the first True value it encounters, which is 1.

1

You can also evaluate expressions.

In [38]:
# Example

1 < 5 or False # The first expression, 1 < 5, evaluates to True. 
               # Since the first sub expression evaluates to True,
               # the whole expression returns True. Python does 
               # not move on to the second subexpression.

True

#### __AND__ Examples

Recall that for AND, all subexpressions must evaluate to True.

In [39]:
#Example 

True and 1 and False #Since the third value is False, this expression returns False.

False

In [40]:
# Example 

0 == False and 1 == True  # Both sub-expressions evaluate to True,
                          # so the whole expression returns True

True

In [41]:
# Example 

0 and 3 and True and False # Sincdde the first value evaluates to False, 
                           # Python does not check the second and third value,
                           # and returns the first False value.  You can see 
                           # the same thing happening below.

0

In [43]:
# Example 

3 and 0 and False # This expression will return 0 since its the first value that 
                  # evaluates to False in our expression. It stops execution as soon 
                  # it finds the first False value and returns it. That is, it doesn't
                  # even get to check our third value, False.
                  # In an AND expression, all values/sub expressions must be 
                  # True for the whole expression to be True.

0

In [44]:
# Example 

3 and False and 0 # Just as above, this expression stops at the first False value 
                  # In this case it will return False instead of 0.

False

You can combine __OR__ and __AND__ operators in the same expression!

In [46]:
# Example 

(1<3) or (5>6) # Only one of the two sub-expressions must hold. On this case the
               # first sub-expression (1<3) is True, so our whole expression returns True.

True

In [47]:
# Example

x = 10
False or (x > 9 and x < 15) # Since the first sub-expression is False it moves to
                            # check the second, which is x > 9 and x < 15. 
                            # for the second sub-expression to be True both 
                            # conditions must be met.

True

__NOT__ EXAMPLES

In [48]:
# Examples 

not value1 == 2 # this is the same as saying "not False" since we know that 
                # value1 == 2 evaluates to False.

True

---

# Data Structures <a id='section2'></a>

---
## Lists <a id='subsection5'></a>

List is a data type that allows you to save multiple objects. In comparison with strings, lists can contain different data types.

In [ ]:
# here's how you can create an empty list
# you'll learn where to use it later in the workshop

empty_lst = []
empty_lst

In [ ]:
# EXAMPLE
name= "name"
berkeley ="berkeley"
new_lst = [2, name, 3, [5, 6, 7], berkeley]
new_lst

Make sure you don't use the built-in functions as names for your variables. If you were to call your list "list", then the function with the same name will not work in your notebook anymore. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it be in green in your code cell.

In [ ]:
list

Let's see how we can use this function on a string.

In [ ]:
new_name = list(name)
new_name

### List Iteration and Slicing `[ : ]`

To iterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [ ]:
# remember that Python, like many programming languages, starts counting from 0.

new_lst[1]

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to iterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [ ]:
# EXAMPLE

new_lst[4][0]

You can also replace the objects in the list by using iteration.

In [ ]:
# EXAMPLE

new_lst[0] = 6
new_lst

---

## Bonus Section

### Mutability

There are a few ways you can copy your list over into a new variable. But these copies will behave differently.

#### Shallow Copy 

Any changes made to a copy of the list __do reflect__ in the original list.

In [ ]:
# before running this cell, think about the output of lst_2 & new_lst

lst_2 = new_lst
lst_2[2] = 7

print(new_lst) 
print(lst_2)

Notice that we only attempted to modify the third item in lst_2 to a new value, namely 7, but new_lst also modified its third value to 7. How did this happened? When you copy this way __new_list = old_list__, you are only copying a __reference__ to the the old list not creating a whole new list.

#### Deep Copy

Any changes made to a deep copy of the original list __do not reflect__ in the original list. When you create a new copy you are creating a whole new list.

In [ ]:
# compare it to this way of copying

lst_3 = new_lst[:]
lst_3[2] = 8

print(new_lst)
print(lst_3)

----

### List Methods

Just like the data types we studied before, lists have built-in functions and methods.

### Adding Elements

To add elements to a list, we can use a few fucntions. The ones we will show you today are built-in functions **insert** and **append**.

In [ ]:
# EXAMPLE

trees = ["Sequoia", "Palm Tree", "Joshua Tree"]

# to add an element to the end of the list, we can use "append"

trees.append("Pine Tree")
trees

We use **insert** when we want to put something at a certain position. But be careful with it, you actually need to specify the position at which you are inserting an element.

In [ ]:
# EXAMPLE

trees.insert(2, "Redwood")
trees

In the cell below, try adding one tree of your liking to the position 1 and then another tree at the end of the list.

In [ ]:
# EXERCISE


trees.insert(1,"Oak")
print(trees)


trees.append("Eucalyptus Tree")
print(trees)

### Deleting Elements

Python has 3 built-in functions and methods for deleting elements from a list.

In [ ]:
random_list = ['Zoom', 1, 7, 9, "Python", [3,8], "Berkeley"]

Method **del** works with indeces and allows for the deletion of parts of the list through slicing.

In [ ]:
# EXAMPLE 

del random_list[0:2]

random_list

List method **.pop(  )** works with indices. It is the last symbol/character/object by default. But you can add a specific index.

In [ ]:
# EXAMPLE 

random_list.pop()

In [ ]:
# EXAMPLE 

random_list.pop(0)

Notice that **.pop(  )** also outputs the thing it has removed from a list. This gives you a chance to capture the value and use it later if you want to.

In [ ]:
# EXAMPLE 

state = ["California", "is", "on the", "West Coast"]
last = state.pop()

print(state)
print(last)

Another method you can use for lists is **.remove**. This method uses the exact values (case matters too).

In [ ]:
# EXAMPLE 

random_list.remove("Python")

In [ ]:
random_list

Now you try removing any three elements from this list three different ways.

In [ ]:
# EXERCISE

# We created a new list with 7 elements in it

california = ["Los Angeles", "San Francisco", 1, 5, 80, "San Diego", ["49ers", "Lakers"]]

# Use 3 different methods of deleting elements from the list 

del california[6] #uses index
#california.pop(0) # uses index
#california.remove(1) #uses label 

print(california)

#### Length of a list

Built-in function **len(   )** can also be used with lists.

In [ ]:
# EXAMPLE 
# Before running this cell, think what the output will be.

countries = ["USA", "Belarus", "Mexico", "Poland"]
len(countries[1])

How is the **len(  )** different for strings and lists?

---
## Arrays <a id='subsection6'></a>

Arrays are another data type that is similar to lists in a way, but they only allow for one type of information to be saved in them. Where a list can have multiple data types in it, each array can only have objects of one type (either numerals, or strings, or lists, etc.). They also use different methods and functions, that is why it is important to know your data types.

In [ ]:
np.arange(7) # np.arange returns evenly spaces values within a given interval

In [ ]:
# EXAMPLE

# here we create two variables with numbers from 0 to 6, one is an array, and the other is a list

x_arr = np.arange(7)

x_list = [0, 1, 2, 3, 4, 5, 6]

In [ ]:
# EXAMPLE 

x_arr*3  # Arrays multiply element wise

In [ ]:
x_list*3 # copies and cocatenates the list 3 times.

In [ ]:
# EXAMPLE

x_arr[2] = 5 # You can change the values the same way that you do with a list. 
x_arr

In [ ]:
np.array([1,"a"])

Arrays are most commonly used with tables, which we will not interact with in this workshop. Arrays are most useful when you want to have a set of the same kind of data that you can easily modify together.

---
## Tuples <a id='subsection7'></a>

Tuples look and behave similarly to arrays, but they **cannot** be modified. It can be used with geospatial data or other data that shouldn't be modified under any circumstances.

In [ ]:
# EXAMPLE

tup = tuple([2, 3, 4])
tup

In [ ]:
# EXAMPLE

tup[1]

In [ ]:
# EXAMPLE

tup[1] = 5

NOTE: Although you cannot modify the lists structures below per say, you can change the values inside them.

In [ ]:
tup2 = tuple([[1,2], [3], [4]])
tup2[0][0] = 5
tup2

---
## Dictionaries <a id='subsection8'></a>

Another powerful data structure is the dictionary. Dictionaries help us store and manipulate data relations.

What are dictionaries? 

- A dictionary is a collection of unordered, mutable and indexable data types. They are structured as key-value pairs. 

About:
* built-in 
* built using curly brackets - {key: value} 
* you can access the value using the key ( like a real dictionary)
* keys tend to be strings (or text), since typically they represent the title or name of the thing(s) you want to represent.

In [ ]:
# EXAMPLE 

# favorite movies for a group of 4 students

movies = {"Karla" : "Blade Runner", "Andy" : "Toy Story", "Sam" : "It", "Jennifer" : "Harry Potter and the Sorcerer's Stone"}
movies

In here, the keys are the names of the students - `Karla, Andy, Sam, and Jennifer`, and  values are the names of the favorite movie for each student - `Blade runner, Toy story, It, and Harry Potter and the Sorcerer's Stone` respectively.

In [ ]:
# EXAMPLE 

# Features of my pet. We want to know what to form a relationship 
# between my pet and it's gestation type, breed, gestation 
# period (in days), and average lifespan (in years).

my_pet = {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11}
my_pet

Notice, that we are able to store different data types in the value filed. For `name` and `type` we have strings, and for `gestation_period` and `life_expectancy` we have numerals.

In [ ]:
# EXAMPLE 

# Now, we want to collect the same information as above 
# but for different pets, but now we will associate it the
# name of the owner. For this exampe, we will say that  Karla 
# has a dog, Sam has a cat, and Alan has hamster.

our_pets = {"Karla" : {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11},
            "Sam" : {"name" : "Frati", "type" : "siamese", "gestation_period" : 60, "life_expectancy" : 17},
            "Alan" : {"name" : "Boots", "type" : "syrian", "gestation_period" : 17, "life_expectancy" : 2.5} }
our_pets

Wow! We just created a dictionary of dictionaries! There are different ways to arrange the information that we stored above. For instance, we could have used lists instead.

In [ ]:
# EXAMPLE 

our_pets_2 = {"Owner":["Karla", "Sam","Alan"], "Name":["Guido","Frati","Boots"], "type":["golden retriever","siamese","syrian"],"gestation_period":[63,60,17],"life_expectancy":[11,17,2.5]}
our_pets_2

If this is a bit hard to understand, do not worry! All you need to remember is that they are key-value pairs that store data. Now, let's see how we can access and manipulate that data.

### Accessing Elements

The elements in a dictionary you can use the bracket notation we had learned before. It will return the value if the "key" exists, otherwise it will return a  KeyError. 

Let's use the movies example from above.

In [ ]:
# Run this cell to see the dictionary

movies

In [ ]:
# EXAMPLE

# dic['key']

movies['Sam']

In [ ]:
# EXERCISE

# What movie does Andy like?

movies['Andy']

In the example above, "Sam" is the key, and "It" is value. Now, let's try to access a key that is NOT on the dictionary.

In [ ]:
# EXAMPLE

movies['Jen']

### Inserting and Changing Elements

### Changing Elements
Let's begin by changing the Sam's favorite movie to "Wizard of Oz".

In [ ]:
movies

In [ ]:
# EXAMPLE

movies['Sam'] = "Wizard of Oz"

movies

In [ ]:
# EXERCISE 

# Change the movie that Andy likes to your favorite movie

movies['Andy'] ="lord of the rings"

In [ ]:
movies

### Adding Elements

We can add and insert elements in a dictionary the same way.

In [ ]:
# EXAMPLE

#dic['New Key'] = "New Value"
movies['Karina'] = "Coco"

movies

In [ ]:
# EXERCISE 

# Add new person and their favorite movie to the dictionary

movies['Cindy'] = "Star Wars"

### Removing Elements

To remove an element, we have to use the function `del`.

In [ ]:
# Let's see what the dictionary looks like again. 

movies

In [ ]:
# EXAMPLE

del movies['Karla']
movies

In [ ]:
# EXERCISE

# Remove the entry you added on the previous exercise

Deleting using __pop__. 

* Pop here works as it did with lists. That is, it removes the desire element (key-value pair) from the dictionary and it returns the value for that given key, giving you a chance to save it if you want. 
* Instead of popping by the index number, you will write the __key__ that you want to delete.

In [ ]:
movies.pop('Sam')

---

### Bonus Exercise

Create a dictionary "majors" and add 5 entries to it with your majors and your friends' names and majors.

Note: There is more than one way to do this. The structure of your dictioanry depends on your use case.

In [ ]:
# EXERCISE


...

----
### Some Dictionary Methods

#### .items() helps us see what is the content in the Dictioanry

* It returns a list of tuples with key value pairs.
* This method can come handy when trying to loop or itertate over a dictionary (You will learn about loops in the next section)

In [ ]:
movies.items()

In [ ]:
movies.items()

What if I wanted to access only the keys instead? You got it! We will use the __.keys()__ method.

In [ ]:
movies.keys()

What about the values? We will use the method __.values()__

In [ ]:
movies.values()

---
Notebook developed by: Kseniya Usovich & Karla Palos

Cal NERDS GitHub: https://github.com/Cal-NERDS