In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib as plt

In the cell below, let's first upload the starbucks_drinkMenu_expanded.csv as a starbucks variable.

In [ ]:
starbucks = pd.read_csv('./data/starbucks_drinkMenu_expanded.csv')
starbucks.head()

Calculate how many unique beverage names there are.

**Hint:** we want to find a NUMBER of unique beverages.

In [ ]:
# EXERCISE

print('There are', ... ,'beverage names')

Now output all the unique beverage names.

In [ ]:
# EXERCISE


...

In the cell below, output how many unique values there are for each "Beverage_category".

In [ ]:
# EXERCISE


...

In the next exercise, find the largest caffeine amount among all the drinks.


**Hint:** Remember to use the full name of a column, otherwise it won't find it.

In [ ]:
# EXERCISE


...

Did it work? Why or why not? In the cell below, check the type of any element in that column.

In [ ]:
# EXERCISE


type(...)

Let's now find out what is the highest amount of calories among all the drinks.

In [ ]:
# EXERCISE


...

Let's find out if our DataFrame has any null values.

**Hint:** Don't forget to count (or summarize) the null values to see the total amount per column.

In [ ]:
# EXERCISE


...

Since we know for sure that the calories column has numeric values, we can easily use functions such as *mean, max, sum, etc* on its values. 

In the cell below, find out what is an average amount of calories per each "Beverage".

In [ ]:
# EXERCISE


...

And what if we combine "Beverage" and "Beverage_prep"?

In [ ]:
# EXERCISE


...

Considering the number of values we have, it is rather hard to read the set above. In the cell below, print out what are the highest and lowest averages per each "Beverage".

**Hint:** You can reuse the code above and add an additional function at the end.

In [ ]:
# EXERCISE


print("The max average amount of calories is ", ...)
print("The min average amount of calories is ", ...)

Imagine that you need to count the amount of carbohydrates you consume. Hence, you decide to only buy drinks that have less than 20 gramms of carbs per cup (ignore the cup size). In the cell below, only output the drinks that follow this criterion.


**Hint:** You will need to use iloc and extract column 8 in this example. It won't work with a column name in this example.

In [ ]:
# EXERCISE


...[... < 20]